@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-body font-raleway text-base font-normal text-black-light;
}

/* === ANIMATIONS === */

.common-transition {
  @apply transition duration-300 ease-in-out;
}

.zoom-image {
  @apply common-transition;
}

.zoom:hover .zoom-image {
  @apply scale-[1.15];
}

/* === COMMON STYLES === */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  @apply smOnly:py-4 mdOnly:py-[18px];
}

.section-title-primary {
  @apply text-xxl font-bold;
}

.section-title-secondary {
  @apply text-lg font-bold md:text-xl xl:text-xxl;
}

.title-lg {
  @apply text-xxl font-bold xl:text-xxxl;
}

.title-md {
  @apply text-lg font-bold;
}

.title-sm {
  @apply font-bold;
}

.button {
  @apply common-transition block w-full cursor-pointer border border-black-light bg-black-light px-12 py-3 text-center font-medium text-white;
  @apply xl:bg-body xl:text-black-light xl:hover:bg-black-light xl:hover:text-white xl:focus:bg-black-light xl:focus:text-white xl:active:bg-black-light xl:active:text-white;
}

.link {
  @apply relative font-medium no-underline before:content-[""];
}

.link::before {
  @apply common-transition absolute bottom-[-3px] left-0 block h-[1.2px] w-full scale-x-0 bg-black-light;
}

a:hover .link::before,
a:active .link:before,
a:focus-visible .link::before,
.link:hover::before,
.link:active:before,
.link:focus-visible::before {
  @apply scale-x-100;
}

/* === DECOR ICONS === */

/* decor icons common */

.decor {
  @apply relative block before:content-[""];
}

.decor::before {
  @apply absolute left-0 top-1/2 -translate-y-1/2 bg-cover bg-center bg-no-repeat;
}

/* decor icons sizes */

.case {
  @apply pl-9 md:pl-8;
}

.case::before {
  @apply h-7 w-7 md:h-6 md:w-6;
}

.phone,
.email,
.instagram,
.telegram,
.viber {
  @apply pl-8;
}

.phone::before,
.email::before,
.instagram::before,
.telegram::before,
.viber::before {
  @apply h-6 w-6;
}

/* decore icons bg */

.case::before {
  @apply bg-[url('/icons/icon_businesscase.svg')];
}

.email::before {
  @apply bg-[url('/icons/icon_email.svg')];
}

.phone::before {
  @apply bg-[url('/icons/icon_phone.svg')];
}

.instagram::before {
  @apply bg-[url('/icons/icon_instagram.svg')];
}

.telegram::before {
  @apply bg-[url('/icons/icon_telegram.svg')];
}

.viber::before {
  @apply bg-[url('/icons/icon_viber.svg')];
}
